/* Box Model Hack */
* {
    box-sizing: border-box;
  }
  
  /* Clear fix hack */
  .clearfix:after {
       content: ".";
       display: block;
       clear: both;
       visibility: hidden;
       line-height: 0;
       height: 0;
  }
  
  .clear {
      clear: both;
  }
  
  /******************************************
  /* BASE STYLES
  /*******************************************/
  
  
  /******************************************
  /* LAYOUT
  /*******************************************/

 header nav li {
    float: left;
    width: 10%;
    list-style: none;
    color: black;
 }

 main {
    float: left;
    width: 50%;
    padding-left: 50px;
    height: 600px;
 }

 .testing {
    width: 100%;
    height: 600px;
    background-image: url(./maindish.jpg);
    background-repeat: no-repeat;
    background-size: cover;
 }

 h1 {
    font-size: 65px;
    color: darkslategrey;
 }

 input {
    height: 50px;
    width: 360px;
    float: left;
    background: white;
    color: grey;
 }

 details {
    height: 44px;
    width: 60px;
    float: left;
    padding-top: 5px;
 }

  form button {
    background: orange;
    color: white;
  }

  main li {
    float: left;
    list-style: none;
    padding: 10px;
    text-align: left;
    color: darkslategrey;
  }

  main ul {
    padding-left: 5px;
  }
  
  .aboutus {
    float: right;
    width: 100%;
    padding: 20px 50px 0px 650px;
    height: 600px;
    color: darkslategrey;
    background-image: url(./watermelonback.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  p {
    padding: 2px 0px 20px 0px;
    width: 600px;
  }

  .special {
    background: linear-gradient(
        to right,
        orange 0%,
        orange 87%,
        rgb(231, 187, 66) 87%,
        rgb(231, 187, 66) 100%
    );
    height: 44px;
    width: 120px;
  }

  h2 {
    font-size: 50px;
    padding-top: 10px;
  }

  span { 
    color: orange;
    font-size: x-large;
  }

  .orderonline {
    float: left;
    text-align: center;
    width: 100%;
    padding: 20px 50px 0px 70px;
    height: 1000px;
    color: darkslategrey;
    background: whitesmoke;
  }

  section nav li {
    float: left;
    width: 10%;
    list-style: none;
    color: black;
    text-align: center;
    font-size: larger;
 }


  ul {
    list-style: none;
    padding-left: 440px;
  }

  body section + section + section > section img {
    padding: 20px;
  }

  .booktable {
    float: left;
    width: 100%;
    text-align: center;
    padding: 20px 50px 0px 50px;
    height: 1050px;
    color: darkslategrey;
    background-image: url(./greenapple.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .schedule {
    float: left;
    width: 30%;
    list-style: none;
    color: black;
    font-size: larger;
    padding-bottom: 40px;
    font-size: 22px;
  }

  #tired {
    padding-right: 150px;
  }

  .diff {
    color: darkslategrey;
  }

  #num {
    font-size: 30px;
    color: orange;
  }

  .testimony {
    float: left;
    width: 100%;
    text-align: center;
    padding: 20px 50px 0px 50px;
    height: 800px;
    color: darkslategrey;
    background: whitesmoke;
  }

 #pls {
    padding-left: 300px;
    width: 80%;
    font-size: 27px;
    font-style: italic;
 }

 h4 {
    font-size: xx-large;
 }
  /******************************************
  /* ADDITIONAL STYLES
  /*******************************************/
  